* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
}

body{
    height: 100dvh;
}


.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 20px 30px;
    background: #dbdbdb;
    box-shadow: 3px 5px 10px 2px;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(1.25);
    transition: opacity 0.3s ease-in-out;
    display: none;
}

.popup .closebutton{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}


.update-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 20px 30px;
    background: #90b9f1;
    box-shadow: 3px 5px 10px 2px;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(1.25);
    transition: opacity 0.3s ease-in-out;
    display: none;
}

.update-popup .update-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}


.delete-popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 20px 30px;
    background: #dbdbdb;
    box-shadow: 3px 5px 10px 2px;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(1.25);
    transition: opacity 0.3s ease-in-out;
}

.delete-popup .delete-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}